{% extends 'base.html.twig' %}

{% block title %}Hello HomeProduitController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h5>Products Cards</h5>
				<hr>
				<div class="card mb-3">
					<img class="img-fluid card-img-top" src="assets/images/slider/img-slide-3.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
</div>
{% endblock %}
