{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

		<!-- [ button-outline ] end -->
				<!-- [ only-icon ] start -->
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h5>Only Icon</h5>
						</div>
						<div class="card-body">
							<button type="button" class="btn  btn-icon btn-primary"><i class="feather icon-thumbs-up"></i></button>
							<button type="button" class="btn  btn-icon btn-secondary"><i class="feather icon-camera"></i></button>
							<button type="button" class="btn  btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
							<button type="button" class="btn  btn-icon btn-danger"><i class="feather icon-slash"></i></button>
							<button type="button" class="btn  btn-icon btn-warning"><i class="feather icon-alert-triangle"></i></button>
							<button type="button" class="btn  btn-icon btn-info"><i class="feather icon-info"></i></button>
						</div>
					</div>
				</div>
				<!-- [ only-icon ] end -->
				<!-- [ outline-icon ] start -->