     <header class="header">
            <img src="{{asset('myFarm/images/logo_site-removebg-preview.png')}}" alt="" width="100px" height="100px" style="margin-left: -8%; margin-top: -18px;"> 
        <nav class="navbar">
            <a href="#home">Accueil</a>
            <a href="#products">produits</a>
            <a href="#review">temoignage</a>
            <a href="#contact">contact</a>
            <a href="#Assistance">Assistance</a>
            
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            {# <a href="#" class="fas fa-shopping-cart"></a> #}
            <a href="{{path('app_login')}}" class="fas fa-user"></a>
        </div>       
     </header>
