{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{# <div class="icons">
    <a href="{{path("cart_add",{id: produit.id})}}" class="btn btn-success">
        <i class="bi-bi-card-plus">Ajouter</i>
    </a>
</div> #}

{% endblock %}
