 <header class="header">
        <a href="#" class="logo">Ama<span>Aba</span></a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#products">products</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
            <a href="#Assistance">Assistance</a>
            
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
        </div>       
     </header>